.about-icons {
    border: 1px solid black;
    border-radius: 50%;
    padding: 30px;
    background-color: black;
    color: white;
  }
  
  #about-icon-container {
    margin-left: 100px;
    margin-bottom: 200px;
    display: flex;
  }
  
  .hyphen-separator {
    opacity: 0.1;
    align-content: center;
    letter-spacing: 1px;
  }
  
  
  
  .h3-header {
    font-family: playfair;
    font-weight: 100;
    font-size: 45px;
  }
  

  .opc_text {
    opacity: 0.5;
  }
  
  #about-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 100px;
    width: 90%;
    margin: auto;
    margin-bottom: 150px;
    position: relative; 
    animation: moveUp 0.5s linear forwards;
  }

  @keyframes moveUp { 
    0% { top: 150px; opacity: 0; } 
    100% { top: 0; opacity: 1; } 
  }
  



/* skill */
  .progress-container {
    max-width: 800px;
    margin: 20px auto;
}

.progress-item {
    margin: 30px 0;
}

.progress-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.progress-bar {
    height: 4px;
    width: 800px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0;
    background-color: #000;
    position: absolute;
}

/* Specific width for each skill level */
.logo-design {
    animation: progressAnimation 1s ease-out forwards;
    animation-delay: 0.2s;
}
@keyframes progressAnimation {
    0% { width: 0; }
    100% { width: 100%; }
}

.brand-design {
    animation: progressAnimation2 1s ease-out forwards;
    animation-delay: 0.4s;
}
@keyframes progressAnimation2 {
    0% { width: 0; }
    100% { width: 100%; }
}

.web-design {
    animation: progressAnimation3 1s ease-out forwards;
    animation-delay: 0.6s;
}
@keyframes progressAnimation3 {
    0% { width: 0; }
    100% { width: 90%; }
}

.content-creation {
    animation: progressAnimation4 1s ease-out forwards;
    animation-delay: 0.8s;
}
@keyframes progressAnimation4 {
    0% { width: 0; }
    100% { width: 80%; }
}