#blog_container {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    justify-content: center;
    margin-bottom: 200px;
}


.blogsContent {
  padding: 16px;
  margin: 16px;
  margin-bottom: 45px;
  box-sizing: border-box;
  width: 22%;
  height: 700px;
  background-color: rgba(218, 218, 189, 0.082);
  opacity: 0.7;
}


.blogsContent img {
    max-width: 100%;
    height: 500px;
}

.blogsContent:hover {
    opacity: 1.5;
}

.blogsContent h2 {
    font-size: 18px;
    margin: 0.5em 0;
}

.blogsContent p {
    font-size: 16px;
    opacity: 0.5;
}